body {background: #281f69;}
  
  .btn.btn-info {background: #e0cc21;}
  
  .navbar {background: #3a6eb4;}
  
  
  .footer {
  color: #e0cc21;
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
  }
  
  .timers {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #f00;
  }
  
  .status {font-family: 'Roboto', sans-serif;}
  
  /* THE SPACES HANDLE THE POSITION OF THE TIMER DIV */
  .space {
  height:395px;
  border:1px;
  }
  
  .space2 {
  height:95px;
  border:1px;
  }
  #clock {
    width: 200px;
    height: 100px;
    background-color: black;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: greenyellow;
    font-size: 2.5em;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
  
.sty {
  border: 1px;
  margin: auto;
  background-color:#d4edda;
  border-radius: 02%;
  width: 1000px;
  height: 480px;
}

#imgOne {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.giphy {
  height: 450px;
  font-family: 'Ranga', cursive;
  font-size: 50px;
  /* text-align: center; */
}
  