body {
    display: grid;
    background: #281f69;
    padding: 0px;
    margin: 0px;
  }

img {width: 30%;}

/* This is for the email and password */
.form-inline {margin-left: 400px;}

.btn.btn-info {background: #e0cc21;}

.navbar {
    background: #3a6eb4;
    border-width: 100px;
}
